<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_7"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_7"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeepMovieApp"
        tools:targetApi="31">
        <activity
            android:name=".viewActivity.History"
            android:exported="false" />
        <activity
            android:name=".viewActivity.TrendingFilm"
            android:exported="false" />
        <activity
            android:name=".viewActivity.Setting"
            android:exported="false" />
        <activity
            android:name=".viewActivity.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".viewActivity.ReviewsMovie"
            android:exported="false" />
        <activity
            android:name=".viewActivity.HomePage"
            android:exported="false" />
        <activity
            android:name=".viewActivity.Register"
            android:exported="false"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".viewActivity.Login"
            android:exported="false"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".viewActivity.GetStarted"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>